@charset "utf-8";

@media (prefers-color-scheme: dark) {
    * {
      color-scheme: dark;
      --color-fg-default: #f4f4f4;
      --color-fg-muted: #8b949e;
      --color-fg-subtle: #484f58;
      --color-canvas-default: #121212;
      --color-canvas-subtle: #161b22;
      --color-border-default: #30363d;
      --color-border-muted: #21262d;
      --color-neutral-muted: rgba(110,118,129,0.4);
      --color-accent-fg: #58a6ff;
      --color-accent-emphasis: #1f6feb;
      --color-attention-subtle: #808010;
      --color-danger-fg: #f85149;

      --color-gnb-bg-sel: #3a3a3a;
      --color-gnb-bg: #505050;
      --color-gnb-bg-before: #505050;
      --color-gnb-border: #505050;
      
	  --color-btn-fg: #f6f6f6;
	  --color-btn-bg: #5c5c5c;
    }
  }
  
  @media (prefers-color-scheme: light) {
    * {
      color-scheme: light;
      --color-fg-default: #24292f;
      --color-fg-muted: #57606a;
      --color-fg-subtle: #6e7781;
      --color-canvas-default: #ffffff;
      --color-canvas-subtle: #f6f8fa;
      --color-border-default: #d0d7de;
      --color-border-muted: hsla(210,18%,87%,1);
      --color-neutral-muted: rgba(175,184,193,0.2);
      --color-accent-fg: #0969da;
      --color-accent-emphasis: #0969da;
      --color-attention-subtle: #fff8c5;
      --color-danger-fg: #cf222e;

      --color-gnb-bg-sel: #4b4b4e;
      --color-gnb-bg: #3e3e40;
      --color-gnb-bg-before: #3e3e40;
      --color-gnb-border: #3e3e40;

	  --color-btn-fg: #767676;
	  --color-btn-bg: #F6F6F6;
    }
  }


.mde_wrap {
    background: var(--color-canvas-default);
    border: 1px solid var(--color-border-default);
    /*border-radius: 3px;*/
}

.mde_toolbar {
    background-color: var(--color-canvas-subtle);
    height: 30px;
    box-sizing: border-box;
    overflow: hidden;

    border: 1px solid var(--color-border-default);
}

.mde_toolbar ul {
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: 0
}

.mde_toolbar li {
    margin: 3px;
    display: inline-block
}

.mde_toolbar li:first-child {
    margin-left: 6px
}

.mde_toolbar li:last-child {
    margin-right: 6px
}

.mde_toolbar button {
    color: var(--color-btn-fg);
    padding: 4px 12px;
    box-sizing: border-box;
    border: 1px solid var(--color-border-default);
    background-color: var(--color-btn-bg);
    border-radius: 3px;
    font-size: 12px
}

.mde_toolbar button:hover {
    color: var(--color-btn-fg);
    background-color: var(--color-btn-bg);
    cursor: pointer
}

.mde_editor {
    width: 100%;
    /*border: 1px solid var(--color-border-default);*/
}

.mde_body {
    position: relative;
    overflow: hidden;
    height: 500px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.mde_body .markdown-code {
    width: 100%;
    height: 500px;
}

.mde_body textarea.mde_code {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: var(--color-canvas-default);
    color: var(--color-fg-default);
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: 0;
    resize: none;
    font-family: 'Fira Code', monospace
}

.mde_preview {
    width: 100%;
    /*border: 1px solid var(--color-border-default);*/
}

.mde_preview .mde_preview_title {
    font-size: 12px;
    /*line-height: 1;*/
    margin: 0;
    padding: 10px;
    background-color: var(--color-canvas-subtle);
    font-weight: 700;
    height: 30px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid var(--color-border-default);
    color: var(--color-fg-default);
}

.mde_preview .mde_preview_main {
    padding: 10px;
    width: 100%;
    height: 300px;
    overflow: auto;
    box-sizing: border-box;
    position: relative;
    background-color: var(--color-canvas-default);
}

.xefu-dropzone {
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
    border: var(--color-border-default);
}

.xefu-container {
    margin: 10px 0;
    border: 1px solid var(--color-border-default);
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
}

.xefu-btn {
    color: var(--color-btn-fg);
    padding: 4px 12px;
    box-sizing: border-box;
    border: 0px solid var(--color-border-default);
    border-radius: 2px;
    background: var(--color-btn-bg);
    font-size: 12px;
    box-shadow: none;
}

.xefu-btn button:hover {
    color: var(--color-btn-fg);
    background-color: var(--color-btn-bg);
    cursor: pointer
}

.xefu-list-images {
    max-height: 160px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 -5px;
    padding: 5px 0;
    border-bottom: 1px solid var(--color-border-default);
}

.xefu-btn>span {
    display: inline-block;
    margin: 0 -12px !important;
    padding: 0 12px !important;
    overflow: visible;
    width: auto;
    height: 24px;
    vertical-align: top;
    text-decoration: none !important;
    line-height: 24px;
    font-family: inherit;
    font-size: 12px;
    border: 0;
    color: var(--color-btn-fg);
    background: var(--color-btn-bg);
}
